img{
  display:block;
  margin:auto;
  width: 100px;
  height: 100px;
}
.camara{
  margin-top: 50px;
  margin-left: 30px;
}
.cordova-camera-capture{
  border-radius: 50%;
  margin-top: 35px;
}
.cordova-camera-capture button{
  background: rgb(7, 7, 90);
  border-radius: 5%;
  color: white;
}
.cordova-camera-capture video{
  border-radius: 50%;
  margin-left: 25%;
}
