<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start">Volver</ion-back-button>
    <ion-title>perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content *ngIf="perfil">
      <ion-label>usuario {{perfil.nombre}}</ion-label>
      <div class="camara">
        <ion-fab vertical="bottom" horizontal="center" slot="fixed">
          <ion-fab-button (click)="takePicture()">
            <ion-icon name="camera"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <img [src]="currentImage" *ngIf="currentImage">
      </div>
    </ion-card-content>
</ion-card>
</ion-content>
