<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start">Volver</ion-back-button>
    <ion-title>perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="perfil">
<div class="perfil">

  <ion-item>
    <img class="perfilImg" [src]="currentImage" >
    <br>
    <ion-button expand="block" (click)="takePicture()">
      <ion-icon name="camera">Editar</ion-icon>
    </ion-button>
  </ion-item>
  <br>
  <ion-item>
    <ion-label>Nombre: {{perfil.nombre}}</ion-label>
  </ion-item>
  <br>
  <ion-item>
    <ion-label >Direccion: {{perfil.direccion}} </ion-label>
  </ion-item>
</div>
</ion-content>
