<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start">Volver</ion-back-button>
    <ion-title *ngIf="perfil" >perfil {{perfil.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="perfil">
<div class="perfil">

  <ion-item>
    <ion-avatar>
      <img class="perfilImg" [src]="currentImage" >
    </ion-avatar>
    <br>
    <ion-button expand="block" (click)="takePicture()">
      <ion-icon name="camera">Editar</ion-icon>
    </ion-button>
  </ion-item>
  <br>
  <ion-item>
    <ion-label>Nombre: {{perfil.nombre}}</ion-label>
  </ion-item>
  <br>
  <ion-item>
    <ion-label >Direccion: {{perfil.direccion}} </ion-label>
  </ion-item>
  <ion-item *ngIf="perfil.moviliaria === 1">
    <ion-label>Eres conductor</ion-label>
    <ion-button (click)="datosconductor(perfil.id)">{{texto}}</ion-button>
  </ion-item>
  <ion-item *ngIf="perfil.moviliaria === 1 && conductor">
    <ion-label>Costo: {{conductor.costo}}</ion-label>

  </ion-item>
  <ion-item *ngIf="perfil.moviliaria === 1 && conductor">
    <ion-label>Cambiar costo: </ion-label>
    <ion-input type="number" [(ngModel)]="costo" value="{{conductor.costo}}"></ion-input>
    <ion-button color="danger" (click)="cambiarCosto(costo)">Nuevo costo </ion-button>
  </ion-item>

</div>
</ion-content>
