<ion-header>
  <ion-toolbar>
    <ion-title>conductor</ion-title>
    <ion-back-button slot="start">volver</ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="conductor">
  <ion-card>
    <ion-card-header>
      <ion-card-title id="Nombre"> {{conductor.conductor}} </ion-card-title>
    </ion-card-header>
<!-- datos del conductor -->
<ion-card-content>

    <img src="../../assets/defaut-perfil.png" alt="avatar"><br>

  <ion-label><b>Acientos: 3</b> </ion-label><br>
  <ion-label><b>matricula: {{conductor.matricula}}</b> </ion-label><br>
  <ion-label  color="success"><b>costo $ {{conductor.costo}} </b></ion-label>

  <ion-list>
    <ion-item>
      <ion-label>viaje duoc: {{conductor.entrada}} </ion-label>
      <ion-button color="success" id="btn-transporte" (click)="storeData(conductor.entrada)">PEDIR</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>salida duoc: {{conductor.salida}}</ion-label>
    <ion-button color="success" id="btn-transporte" (click)="storeData(conductor.salida)">PEDIR</ion-button>

    </ion-item>
  </ion-list>

  </ion-card-content>
</ion-card>
</ion-content>
