<ion-header>
  <ion-toolbar>
    <ion-title>conductor</ion-title>
    <ion-back-button slot="start">volver</ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="conductor">
  <ion-card>
    <ion-card-header>
      <ion-card-title id="Nombre"> {{conductor.conductor}} </ion-card-title>
    </ion-card-header>
<!-- datos del conductor -->
<ion-card-content>

    <img width="175px" src="" alt="avatar"><br>

  <ion-label><b>Acientos:</b> </ion-label><br>
  <ion-label><b>Direccion:</b></ion-label><br>
  <ion-label><b>matricula:</b> </ion-label><br>
  <ion-label  color="success"><b>costo $ {{conductor.costo}} </b></ion-label>
<!-- los cheack -->
  <ion-list>
    <ion-item>
      <ion-label>viaje duoc: {{conductor.entrada}} </ion-label>
      <ion-button expand="full" color="success" id="btn-transporte" (click)="storeData(conductor.entrada)">PEDIR TRANSPORTE</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>salida duoc: {{conductor.salida}}</ion-label>
    <ion-button n-button expand="full" color="success" id="btn-transporte" (click)="storeData(conductor.salida)">PEDIR TRANSPORTE</ion-button>

    </ion-item>
  </ion-list>

    <!-- solicitar viaje -->
  </ion-card-content>
</ion-card>
<!-- cambiar el color del boton tarrea pendiente -->
<!-- <ion-button expand="full" (click)="showToast()" color="success">PEDIR TRANSPORTE</ion-button> -->
</ion-content>
