<ion-header>
  <ion-toolbar>

    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card>
      <ion-card-header>
        <!-- <ion-card-subtitle></ion-card-subtitle> -->
        <ion-card-title>iniciar secion</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-label ><b>usuario</b></ion-label>
        <ion-input class="login" placeholder="fulano.ario"  [(ngModel)]="user.nombre"></ion-input>
        <ion-label ><b>clave</b></ion-label>
        <ion-input class="login" type="password" placeholder="12034"  [(ngModel)]="user.clave"></ion-input>
        <div>
          <ion-button color="success" expand="full" (click)="login()">ingresar</ion-button>
          <ion-button color="warning" expand="full" (click)="recuperar()">recuperar</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
