<ion-header>
  <ion-toolbar>
    <ion-icon style="zoom: 2;" slot="start" name="exit-outline" (click)="logout()"></ion-icon>
    <ion-icon style="zoom: 2;" slot="end" name="person-circle-outline" [routerLink]="['/perfil/']" ></ion-icon>
    <ion-title>Peticion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="data">
    <div *ngFor="let pasajero of data">
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://finley.husd.net/static/finley/img/icons/qlDirectory.gif" alt="https://finley.husd.net/static/finley/img/icons/qlDirectory.gif">
        </ion-avatar>
        <ion-label>
          <h5 id="{{pasajero.pasajero}}{{pasajero.id_pedido}}">{{pasajero.pasajero}}</h5>
          <p id="{{pasajero.pasajero}}{{pasajero.id_pedido}}">Direccion: {{pasajero.direccion}}</p>
          <p id="{{pasajero.pasajero}}{{pasajero.id_pedido}}">hora: {{pasajero.hora}}</p>
        </ion-label>
        <ion-icon (click)="animarYes(pasajero.pasajero+pasajero.id_pedido)"name="checkmark-circle-outline"></ion-icon>
        <ion-icon (click)="animarNo(pasajero.pasajero, pasajero.id_pedido)"name="close-circle-outline"></ion-icon>
      </ion-item>
    </div>
  </ion-list>


</ion-content>


