<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"> </ion-back-button>
    <ion-title>Peticion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="data">
    <div *ngFor="let pasajero of data">
      <ion-item>
        <ion-label>
          <h5>{{pasajero.pasajero}}</h5>
          <p>{{pasajero.direccion}}</p>
        </ion-label>
        <!-- <ion-avatar slot="start">
          <img src="..." alt="avatar="...">
        </ion-avatar> -->
        <ion-icon (click)="showToast('pasajero vive en '+pasajero.direccion)" name="compass-outline"></ion-icon>
        <ion-icon (click)="animarYes(pasajero.pasajero+pasajero.id_pedido)"name="checkmark-circle-outline"></ion-icon>
        <ion-icon (click)="animarNo(pasajero.pasajero+pasajero.id_pedido)"name="close-circle-outline"></ion-icon>
      </ion-item>
    </div>
  </ion-list>
</ion-content>


