<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon  style="zoom: 2;"  slot="start" name="exit-outline" (click)="logout()"></ion-icon>
    <ion-icon  style="zoom: 2;"  slot="end" name="person-circle-outline"></ion-icon>
    <ion-title>
      <ion-label>Bienvenido {{data.nombre}}</ion-label>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let data of ddata">
    <ion-item  *ngIf="data.moviliaria === 1">
      <ion-label>
        <h5>{{data.nombre}}</h5>
        <p>{{data.direccion}}</p>
      </ion-label>
      <ion-icon name="car-outline" style="zoom:2.0" [routerLink]="['/conductor/', data.id]"></ion-icon>
    </ion-item>
  </div>
</ion-content>
